<div id="container-exp">

	<!--	<div id="stim" font-size="20px"></div>
		<div id="query" color="black">


			
		</div>
		<div id="feedback" font-size="40px"> </div> -->
		<!-- <canvas id="canvas" width="1400px" height="900px">
		</canvas> !-->

		<!--  <div>!-->




		<canvas id="top" width = "1200px" height="250px">
		</canvas>
				<!--  </div>!-->

	<!--  <div>!-->
		<canvas id="middle" width = "1200px" height="250px">

		</canvas>
		<!--  </div>!-->

		<!--  <div>!-->
		<canvas id="bottom" width = "1200px" height="250px">

		</canvas>
		<!--
		<div width = "1000px" height = "250px" style="text-align: center;">
			<button id="ready" onclick="ready()">Ready to guess.</button>
		</div>!-->


</div>
