<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
        <p>
            In this experiment, you will be repeatedly be shown an array of 16 objects, initially
            placed in the center of the screen. Each object is secretly a member of one of two categories,
            represented by bins above and below the objects. Your job is to figure out which category
            each object belongs to and you will get a bonus depending on your ability to correctly classify each object.  


        <p>
            There are two phases in each trial: a QUERYING phase and a GUESSING phase. In the 
            QUERYING phase, you can double-click any object to reveal its category. In the
            GUESSING phase, you will click on an object and place it with the up and down arrow keys.

        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
