<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            In this experiment, you will repeatedly be shown an array of blue dots that
            disappears from the screen after a short time. Your job is to guess how many dots
            were shown, typing your estimate into a text box (and then pressing enter). Please try to estimate as quickly and accurately as possible.
        </p>
        <p>

            There are 6 sections with 20 trials each --- 120 trials total. The
            dots will be displayed for different amounts of time in each section.
            
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
