<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>

            Importantly, your bonus payment will depend on two things: the number of queries you make in the 
            QUERYING phase and the number of correct guesses you make in the GUESSING phase. You can make up to a $0.32 bonus on each trial: each correct guess will earn you $0.02; however, each incorrect guess will lose you $0.02 (though if you somehow have a negative bonus at the end of the experiment, it will be set to $0.00).

        </p>

        <p>
            Note: you will only be able to make guesses about the objects that you did NOT query! (But queries do not directly cost money themselves.)
        </p>

        <p>

            Ultimately, then, your job is to get enough information about the categories from querying 
            to allow you to make informed guesses, but not so much that you don't have any objects left to guess.

        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
